html ,body , *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{ 
    width:50%
}
.logo{
    width: 40px;
    border-radius: ;
}
h1{
    font-size: 50px;
    /* line-height: 65px; */
    color:red;
}
h2{
    font-size: 45px;
    line-height: 55px;
    color:black;
}
h3{
    font-size: 40px;
    /* line-height: 44px; */
    color:black;
}
h4{
    font-size: 30px;
    /* line-height: 44px; */
    color:black;
}
h5{
    font-size: 20px;
    /* line-height: 33px; */
    color:black;
}
h6 {
    font-size: 15px;
    /* line-height: 22px; */
    color:brown;
}
.section-p1{
    padding:40px 80px ;
}
/* header  */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blanchedalmond;
    box-shadow: 0 5px rgb(0,0,0.6);
    z-index: 11;
    position: sticky;
    top:0;
    left:0;

}
#navbar {
    display:flex ;
    align-items: center;
    justify-items: center;

} 
#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;

}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600 ;
    color: rgb(37, 30, 30);
    transition: o,2s ease;
}
#navbar li a.active{
    color:rgb(65, 214, 214);
}
 #navbar li a:hover{
     color:rgb(210, 59, 107);
     font-size: 17px;
 }
 #navbar li a.active::after,
 #navbar li a:hover::after{
     content: "";
     width:50%;
     height: 2px;
     background:rgb(65, 214, 214) ;
     position: absolute;
     bottom:-4px;
     left:20px;
 }
 /* Home bag now */
 
 #hero{
    background-image:
  linear-gradient(to right, transparent, mistyrose),
    url(img/hero.jpg);
  background-size: cover;
  background-blend-mode: saturation;
     height: 90vh ;
     width: 100%;

     background-size: cover;
     background-position: top 25% right 0 ;
     padding:0 40px;
     display: flex;
     flex-direction:column ;
     align-items:flex-start;
     justify-content: center;

 }
 #hero h4{

    padding-bottom: 10px;
    color:black;
 }
#hero h1{
    color: black;
}

.button1{
    background-color: antiquewhite;
    color: rgb(80, 124, 110);
    border: 0;
    border-radius: 20px;
    padding: 10px 40px 10px 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
} 
/* feature this  */

#feature .fe-box{
    
    width:200px;
    height: 200px;

    text-align: center;
    padding: 12px 12px ;
    box-shadow: 2px 5px 22px rgb(95, 69, 69);
    border: 1px solid olive;
    border-radius: 5px;
    

}
.fe-img{
    width: 100%;
    height: 60%;
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box:hover{
    box-shadow: 1px 5px 22px aquamarine;
    width:201px;
}
#feature .fe-box h6{
    /* display: inline-flex; */
    padding: 9px 5px 6px 8px;
    line-height: 1;
    border-radius: 9px;
    color: green;
    background-color: antiquewhite;
}
 
#feature .fe-box img{
    /*  */
}
#feature .fe-box:nth-child(2) h6{
    background-color: rgb(81, 147, 200);
}
#feature .fe-box:nth-child(3) h6{
    background-color: aqua;
}
#feature .fe-box:nth-child(4) h6{
    background-color: rgb(93, 140, 140);
}
#feature .fe-box:nth-child(5) h6{
    background-color: rgb(93, 10, 140);
}
#feature .fe-box:nth-child(6) h6{
    background-color: rgb(93, 140, 10);
}

/* production */
.product1 {
    text-align: center;
    
}
.product1 .pro{
    
    width:25%;
    margin: 1px;
    padding:4px 2px;
    min-width: 220px;
    border: 1px solid  rgb(81, 147, 200);
    border-radius:  25px ;
    cursor: pointer;
    box-shadow: 20px 10px 30px rgb(127, 88, 88);
    
}
.product1 .pro:hover{
    box-shadow: 20px 10px 30px rgb(143, 236, 85);
    
}
.product1 .pro{
    position: relative;
    padding:10px;
    margin:13px ;
}
.product1 .pro img{
    width: 90%;
    border-radius:20px;
    
}
.product1 .pro .des{
    text-align: start;
    padding:10px 0;
}
.product1 .pro span{
    color: rgb(130, 166, 223);
}
.product1 .pro .dec h5{
    padding-top: 7px;
    color: rgb(4, 47, 47);
    font-size: 14px;

}
.product1 .pro .shop-cart{
    width:100%;
    
}
.product1 .pro .cart{
    
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: beige;
    position:absolute;
    bottom: 1px;
    right:14px;

}
.product1 .flex { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 10px 10px 10px;
    margin: 12px;    

}
/* banner*****  section style  */
#banner{
    padding-left: 70px;
    color: rgb(23, 171, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./img/5.jpg");
    width:100%;
    height: 40vh;
    background-size: cover;
    background-position: center;


}
#banner span{
    color:red;
}
#banner button{
    border:none;
    outline: none;
    transition:0.2s ;
}
#banner button:hover{
 background-color: lightseagreen;
}
#sm-banner{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}

#banner-box1 {
    margin: 10px;
  paddingt-top: 17px;
  color: rgb(23, 171, 171);
  align-items: flex-start;
  background-image: url("./img/7.jpg");
  color:white;
  min-width:580px ;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px; ;

}
#banner-box2 {
    margin: 10px;
  
  color: rgb(23, 171, 171);
  align-items: flex-start;
  /* text-align: ; */
  background-image: url("./img/4.jpg");
  color:white;
  min-width:580px ;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px; ;

}
#sm-banner button{
    margin-top: 20px;
}
    #sm-banner span ,#sm-banner h1,#sm-banner h2{
    margin-top: 20px;
    color: whitesmoke;

}
#sm-banner div:hover button{
    background-color: aqua;
}

.banner-box {
    margin: 10px;
  paddingt-top: 17px;
  color: rgb(23, 171, 171);
  align-items: flex-start;
  background-image: url("./img/7.jpg");
  color:white;
  min-width:30px ;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 20px; 
  margin-bottom:20px;

}
.banner-box h2{
    color:blanchedalmond;
}
#banner3{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;

}
#newstext{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-image: url("./img/4.jpg");
   min-height: 40vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: black;
    color:antiquewhite;
}
 h4 {
 color:rgb(59, 39, 10)));
}
.textcolor2{
    color:whitesmoke;
}
  .color2 {
    color:whitesmoke;  
} 
#newstext p span {  
    color:red;
}
.form{
    display: flex;
    flex-direction: column;
    justify-items: center;

    width:40%;

}
#newstext input{
    height:53px;
/*     
    padding:0 1.25em;
    font-size: 14px;
    width:100%;
    background-color: lightblue;
    border:1px solid transparent;
    border-bottom: 4px;
    outline: none; */
}
#newstext button{
    color:green;
    height:53px;
    width:20%
    border:1px solid transparent;
    border-bottom: 4px;
    outline: none;
    background-color:olivedrab;
    white-space: nowrap;
    
}
@media(min-width:777px;){
    #navbar{
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right:0px;
        height:100vh;
        width:300px;
        background-color:lightgray ;
        box-shadow: px 30px 40px;
        padding: 8px 0 0 10px;
    }
    body{
        /* background-color:green; */
    }
}
